/** ************************* **/
/** Froont widget base styles **/
/** ************************* **/
.fr-widget h1,
.fr-widget h2,
.fr-widget h3,
.fr-widget h4,
.fr-widget h5,
.fr-widget h6,
.fr-widget p {
  margin: 0;
}
html,
body,
button,
input,
select,
textarea {
  font-family: "PT Sans", Tahoma, Verdana, sans-serif;
}
html,
body {
  height: 100%;
}
body {
  font-size: 62.5%;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input:focus,
textarea:focus {
  outline: none;
}
.b-content {
  font-size: 1.6em;
  padding-top: 0.02px;
  min-height: 100%;
  margin: 0 auto -50px;
  /* the bottom margin is the negative value of the footer's height */
  padding-bottom: 50px;
}
.b-content.loading {
  opacity: 0;
}
.b-content:after {
  content: ".";
  display: none;
  clear: both;
  line-height: 0;
  height: 0;
}
.b-content.not-in-preview,
.b-content.hide-footer {
  padding-bottom: 0;
}
a {
  color: #000;
  text-decoration: underline;
}
.fr-wf > .fr-text {
  -webkit-transition: opacity .1s linear;
  transition: opacity .1s linear;
  word-break: break-word;
}
.wf-loading .fr-wf > .fr-text {
  opacity: 0 !important;
}
.wf-inactive .fr-wf > .fr-text,
.wf-active .fr-wf > .fr-text {
  opacity: 1;
}
/* Navigation widget styles applied in pane for editing */

.opened {
  /* needed for edit mode interactions, to overwrite widget default style */
  max-height: 9999px !important;
  position: relative !important;
}
.fr-widget:after,
.fr-widget:before {
  content: "";
  display: table;
  clear: both;
}
.fr-widget {
  display: block;
}
.fr-text * {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  text-decoration: inherit;
}
.fr-link {
  text-decoration: none;
  cursor: default;
}
.fr-link[href] {
  cursor: pointer;
}
.fr-link[href],
.fr-link[href]:active,
.fr-link[href]:focus {
  outline: none;
}
.fr-link.fr-linktype-submit,
.fr-link.fr-linktype-submit * {
  cursor: default;
}
.fr-text i {
  font-style: italic;
}
.fr-text u {
  text-decoration: underline;
}
.fr-text del,
.fr-text s,
.fr-text strike {
  text-decoration: line-through;
}
.fr-text b,
.fr-text strong,
.fr-text h1,
.fr-text h2,
.fr-text h3,
.fr-text h4,
.fr-text h5,
.fr-text h6 {
  font-weight: bold;
}
.fr-img {
  line-height: 0;
}
.fr-img img {
  width: 100%;
  max-width: 100%;
}
.fr-svg-inner {
  position: relative;
}
.fr-svg svg {
  width: 100%;
  max-width: 100%;
  height: 100%;
}
.fr-svg-inner svg {
  position: absolute;
  display: block;
}
.fr-grid > .fr-widget {
  float: left;
}
.fr-video-inner {
  position: relative;
}
.fr-video-inner iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}
.fr_hover-animation {
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: background, color, border-radius;
  transition-property: background, color, border-radius;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.fr-video-inner p {
  display: none;
}
.fr-input {
  border: none !important;
  background: none !important;
  padding: 0 !important;
  font-size: inherit !important;
  font-family: inherit !important;
  line-height: inherit !important;
  font-weight: inherit !important;
  color: inherit !important;
  text-decoration: inherit !important;
}
.fr-input > input {
  display: block !important;
  margin: 0 !important;
  width: 100%;
  height: 100%;
}
.fr-input > input::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.5;
}
.fr-input > input::-moz-placeholder {
  color: inherit;
  opacity: 0.5;
}
.fr-input > input:-ms-input-placeholder {
  color: inherit;
  opacity: 0.5;
}
.fr-input > input::placeholder {
  color: inherit;
  opacity: 0.5;
}
.fr-navigation {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.fr-widget-hover-opacity-60 {
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
.fr-widget-hover-opacity-60:hover {
  opacity: 0.6;
  -webkit-transition-duration: 0.125s;
  transition-duration: 0.125s;
}
.fr-widget-hover-scale-up {
  -webkit-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
}
.fr-widget-hover-scale-up:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
}
.fr-widget.fr-slideshow > .fr-widget.fr-container {
  margin: 0;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
}
.fr-widget.fr-slideshow .fr-slideshow-dots {
  position: absolute;
  text-align: center;
  left: 50%;
  bottom: 20px;
  line-height: 10px;
  -webkit-transform: translatex(-50%);
  -ms-transform: translatex(-50%);
  transform: translatex(-50%);
  z-index: 2;
}
.fr-widget.fr-slideshow .fr-slideshow-dots span.swiper-pagination-switch {
  display: inline-block;
  width: 10px;
  height: 10px;
  opacity: .6;
  border-radius: 5px;
  margin: 0 5px;
}
.fr-widget.fr-slideshow .fr-slideshow-dots span.swiper-pagination-switch.swiper-active-switch {
  opacity: 1;
}
.fr-widget.fr-slideshow .fr-slideshow-dots span.swiper-pagination-switch:hover {
  cursor: pointer;
}
.b-content .fr-widget.swiper-container {
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /* Fix of Webkit flickering */
  z-index: 1;
  /* IE10 Windows Phone 8 Fixes */
}
.b-content .fr-widget.swiper-container .swiper-wrapper {
  position: relative;
  width: 100%;
  -webkit-transition-property: -webkit-transform, transform, left, top;
  transition-property: -webkit-transform, transform, left, top;
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
  -webkit-transform: translate3d(0px, 0, 0);
  -ms-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.b-content .fr-widget.swiper-container .swiper-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto;
}
.b-content .fr-widget.swiper-container .swiper-slide {
  display: block;
  visibility: visible;
  float: left;
  position: relative;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.b-content .fr-widget.swiper-container .swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
}
.b-content .fr-widget.swiper-container .swiper-wp8-vertical {
  -ms-touch-action: pan-x;
}
.fr-copyright-footer {
  bottom: 0;
  width: 100%;
  position: relative;
  height: 50px;
  overflow: hidden;
}
.fr-copyright-footer.fixed {
  position: fixed;
  left: 0;
}
.fr-copyright-footer > .fr-container {
  width: 100%;
  margin: 0;
  padding: 0;
  background: #242424;
}
.fr-copyright-footer .fr-made-with-froont {
  width: auto;
  font-family: Arial;
  font-size: .55rem;
  text-align: center;
  letter-spacing: .14rem;
  margin: 0 auto;
  padding: 1.05rem 0 0.5rem 0;
  color: #979797;
}
.fr-copyright-footer .fr-made-with-froont .fr-text {
  min-width: 100%;
}
.fr-copyright-footer .fr-made-with-froont .fr-text .heart {
  font-size: .8rem;
}
.fr-copyright-footer .fr-bottom-em-spacer {
  height: 0.8rem;
  background: #242424;
}
.fr-fork-on-froont {
  position: absolute;
  right: 0;
  top: 0;
  width: 115px;
  height: 115px;
  background-image: url('https://froont.com/_static/images/fork-ribbon.png');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 10000;
}
.fr-fork-on-froont:hover {
  background-position: 0 -115px;
}
.fr-anim-initial {
  visibility: hidden;
  opacity: 0 !important;
}
[data-fr-animation].fr-having-animation {
  visibility: hidden;
  opacity: 0 !important;
}
.fr-having-animation.fr-anim-fade-in {
  visibility: hidden;
  opacity: 0 !important;
}
.fr-having-animation.fr-anim-slide-from-top {
  visibility: hidden;
  opacity: 0 !important;
  -webkit-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  transform: translateY(-20px);
}
.fr-having-animation.fr-anim-slide-from-right {
  visibility: hidden;
  opacity: 0 !important;
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}
.fr-having-animation.fr-anim-slide-from-bottom {
  visibility: hidden;
  opacity: 0 !important;
  -webkit-transform: translateY(20px);
  -ms-transform: translateY(20px);
  transform: translateY(20px);
}
.fr-having-animation.fr-anim-slide-from-left {
  visibility: hidden;
  opacity: 0 !important;
  -webkit-transform: translateX(-20px);
  -ms-transform: translateX(-20px);
  transform: translateX(-20px);
}
.fr-having-animation.fr-anim-result {
  visibility: visible;
  -webkit-transform: translateX(0) translateY(0);
  -ms-transform: translateX(0) translateY(0);
  transform: translateX(0) translateY(0);
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
  -webkit-transition-duration: 1.7s;
  transition-duration: 1.7s;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-perspective: 1000;
  perspective: 1000;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  opacity: 1 !important;
}
.fr-having-animation.fr-anim-result.fr-anim-fade-in {
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
.fr-widget.fr-background-parallax {
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
}
body.isTouchDevice .fr-widget.fr-background-parallax,
.not-in-preview .fr-widget.fr-background-parallax {
  background-attachment: scroll;
}
.not-in-preview .fr-widget.fr-background-attachment-fixed {
  background-attachment: scroll;
  background-size: cover;
}

/** ******************************** **/
/** End of Froont widget base styles **/
/** ******************************** **/

/** ************************* **/
/** Widget styles             **/
/** ************************* **/
.fr_paragraph_center_grey {
  font-family: europa;
  font-weight: 300;
  font-size: 1.1em;
  line-height: 1.4;
  text-align: center;
  letter-spacing: .01em;
  color: #999
}
.fr_hd7_paragraph {
  float: none;
  display: block;
  width: 90%;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  max-width: 600px
}
.fr_hd7_paragraph .fr-text {
  min-width: 100%
}
.fr_content_8 {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: white
}
.fr_hd7_description {
  float: none;
  display: block;
  width: 90%;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  max-width: 600px
}
.fr_hd7_description .fr-text {
  min-width: 100%
}
.fr_hd7_image {
  float: none;
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  background-image: url(../images/thumbnail/tumblr-n7pt4stgdm1qg3iveo1-500.jpg_500x623.jpg);
  background-position: center center;
  background-size: cover;
  min-height: 300px;
  max-width: 300px;
  border-radius: 50%
}
.fr_h4_black {
  font-family: europa;
  font-weight: 600;
  font-size: 1.7em;
  line-height: 1.45em;
  text-align: center;
  letter-spacing: .3em;
  color: black
}
.fr_hd7_name {
  float: none;
  display: block;
  width: 90%;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  max-width: 600px
}
.fr_hd7_name .fr-text {
  min-width: 100%
}
.fr_content_7 {
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 60px;
  background-color: white;
  position: relative;
  min-height: 44.4375em;
  min-width: 100%;
  max-height: 100%;
  max-width: 100%
}
.fr_h4_black {
  font-family: europa;
  font-weight: 600;
  font-size: 1.7em;
  line-height: 1.45em;
  text-align: center;
  letter-spacing: .3em;
  color: black
}
.fr_hd7_name {
  float: none;
  display: block;
  width: 100%;
  vertical-align: top;
  margin-top: 25px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  padding-top: 65px;
  padding-bottom: 40px;
  max-width: 600px
}
.fr_hd7_name .fr-text {
  min-width: 100%
}
.fr_hd7_image {
  float: none;
  display: block;
  width: 90%;
  vertical-align: top;
  margin-top: 2.19em;
  margin-right: auto;
  margin-left: auto;
  padding-top: 40px;
  background-repeat: repeat;
  background-image: url(../images/thumbnail/ggu5nij.png_589x556.png);
  background-position: center center;
  background-size: contain;
  background-attachment: scroll;
  min-height: 300px;
  max-width: 300px;
  border-radius: 50%
}
.fr_releases {
  float: none;
  display: block;
  width: 100%;
  margin-top: .4365234375em;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  min-height: 8.1884765625em
}
.fr_paragraph_center {
  float: none;
  display: block;
  width: 90%;
  font-family: europa;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.35;
  text-align: center;
  vertical-align: top;
  margin-top: 3.29em;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
  padding-bottom: 40px;
  color: #333;
  min-height: 20.375em;
  max-width: 600px
}
.fr_paragraph_center .fr-text {
  min-width: 100%
}
.fr_hd7_name_2 {
  float: none;
  display: block;
  width: 100%;
  vertical-align: top;
  margin-top: -1.89em;
  margin-right: auto;
  margin-left: auto;
  padding-top: 60px;
  padding-bottom: 40px;
  max-width: 600px
}
.fr_hd7_name_2 .fr-text {
  min-width: 100%
}
.fr_c01_h1 {
  float: none;
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  max-width: 500px
}
.fr_c01_h1 .fr-text {
  min-width: 100%
}
.fr_h1 {
  font-family: europa;
  font-weight: 600;
  font-size: 1.7em;
  line-height: 1.1em;
  text-align: center;
  letter-spacing: .3em;
  color: black
}
.fr_downloads {
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 40px;
  padding-bottom: 40px
}
.fr_content_05 {
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 40px;
  padding-bottom: 40px
}
.fr_h1-1 {
  font-family: Didact Gothic;
  font-weight: 600;
  font-size: 1.7em;
  line-height: 1.1em;
  text-align: center;
  letter-spacing: .3em;
  color: black
}
.fr_c05_h1 {
  float: none;
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  max-width: 500px
}
.fr_c05_h1 .fr-text {
  min-width: 100%
}
.fr_g08_rounded_img_two {
  float: none;
  display: block;
  width: 160px;
  margin-right: auto;
  margin-left: auto;
  background-color: #e5e5e5;
  background-image: url(../images/thumbnail/rqzdzpu_4.png_256x256.png);
  background-position: center center;
  background-size: cover;
  min-height: 160px;
  border-radius: 50%
}
.fr_g08_headline_two {
  float: none;
  display: block;
  width: 100%;
  margin-top: .9em;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto
}
.fr_g08_headline_two .fr-text {
  min-width: 100%
}
.fr_h4_center {
  font-family: europa;
  font-weight: 300;
  font-size: 1.1em;
  line-height: 1.25em;
  text-align: center;
  letter-spacing: .01em;
  color: grey
}
.fr_g08_4_column_grid {
  float: none;
  display: block;
  width: 90.0390625%;
  vertical-align: top;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  max-width: 940px
}
.fr_g08_4_column_grid>.fr-widget:nth-child(5n+1) {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  width: 20%;
  clear: left;
  max-width: inherit
}
.fr_g08_4_column_grid>.fr-widget:nth-child(5n+2) {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  width: 20%;
  clear: none;
  max-width: inherit
}
.fr_g08_4_column_grid>.fr-widget:nth-child(5n+3) {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  width: 20%;
  clear: none;
  max-width: inherit
}
.fr_g08_4_column_grid>.fr-widget:nth-child(5n+4) {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  width: 20%;
  clear: none;
  max-width: inherit
}
.fr_g08_4_column_grid>.fr-widget:nth-child(5n+5) {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  width: 20%;
  clear: none;
  max-width: inherit
}
.fr_g08_headline_three {
  float: none;
  display: block;
  width: 100%;
  margin-top: .9em;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto
}
.fr_g08_headline_three .fr-text {
  min-width: 100%
}
.fr_g08_rounded_img_three {
  float: none;
  display: block;
  width: 160px;
  margin-right: auto;
  margin-left: auto;
  background-color: #e5e5e5;
  background-image: url(../images/thumbnail/0qqu2jy_3.png_256x256.png);
  background-position: center center;
  background-size: cover;
  min-height: 160px;
  border-radius: 50%
}
.fr_g08_headline_one {
  float: none;
  display: block;
  width: 100%;
  margin-top: .9em;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto
}
.fr_g08_headline_one .fr-text {
  min-width: 100%
}
.fr_g08_rounded_image_one {
  float: none;
  display: block;
  width: 160px;
  margin-right: auto;
  margin-left: auto;
  background-color: #e5e5e5;
  background-image: url(../images/thumbnail/r7ecoqk_3.png_256x256.png);
  background-position: center center;
  background-size: cover;
  min-height: 160px;
  border-radius: 50%
}
.fr_paragraph_center_2 {
  float: none;
  display: block;
  width: 90%;
  font-family: europa;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.35;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  color: #333;
  min-height: 1.35em;
  max-width: 600px
}
.fr_paragraph_center_2 .fr-text {
  min-width: 100%
}
.fr_h4 {
  font-family: europa;
  font-weight: 600;
  font-size: 1.3em;
  line-height: 1.25em;
  text-align: center;
  letter-spacing: .1em;
  color: black
}
.fr_co3_headline_one {
  float: none;
  display: block;
  width: 99.85538939051919%;
  margin-right: auto;
  margin-left: auto;
  min-height: 1.6343005952380953em
}
.fr_co3_headline_one .fr-text {
  min-width: 100%
}
.fr_paragraph_left {
  font-family: Didact Gothic;
  font-weight: 400;
  font-size: 1.1em;
  line-height: 1.4em;
  color: grey
}
.fr_co3_paragraph_text_one {
  float: none;
  display: block;
  font-family: europa;
  font-weight: 400;
  font-size: 1.1em;
  line-height: 1.4em;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  color: #333
}
.fr_co3_3_column_grid {
  float: none;
  display: block;
  width: 99.77969088937093%;
  margin-top: 1em;
  min-height: 13.3125em
}
.fr_co3_3_column_grid>.fr-widget:nth-child(2n+1) {
  margin-top: 0;
  margin-right: 2%;
  margin-bottom: 0;
  margin-left: 0;
  width: 48%;
  clear: left;
  max-width: inherit
}
.fr_co3_3_column_grid>.fr-widget:nth-child(2n+2) {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 2%;
  width: 48%;
  clear: none;
  max-width: inherit
}
.fr_co3_headline_two {
  float: none;
  display: block;
  width: 99.85538939051919%;
  margin-right: auto;
  margin-left: auto;
  min-height: 1.6343005952380953em
}
.fr_co3_headline_two .fr-text {
  min-width: 100%
}
.fr_co3_container {
  float: none;
  display: block;
  width: 89.9993896484375%;
  margin-top: 3.2900390625em;
  margin-right: auto;
  margin-left: auto;
  min-height: 15.0224609375em;
  max-width: 940px
}
.fr_co3_paragraph_text_two {
  float: none;
  display: block;
  font-family: europa;
  font-weight: 400;
  font-size: 1.1em;
  line-height: 1.4em;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  color: #333
}
.fr_content_03 {
  display: block;
  padding-top: 20px;
  padding-bottom: 80px;
  min-height: 27.0625em
}
.fr_newstyle {
  font-family: europa;
  font-weight: 600;
  font-size: 1.3em;
  line-height: 1.25em;
  text-align: center;
  letter-spacing: .1em;
  color: black
}
.fr_downloadslink {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  min-height: 2.5em
}
.fr_f3_copyright {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: 0
}
.fr_f3_copyright .fr-text {
  min-width: 100%
}
.fr_caption_center_light_grey {
  font-family: europa;
  font-weight: 100;
  font-size: 1em;
  line-height: 1.3em;
  text-align: center;
  letter-spacing: .05em;
  color: #cbcbcb
}
.fr_footer_3 {
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  padding-top: 4em;
  padding-bottom: 4em;
  background-color: white;
  min-height: 3.25em
}
.fr_mobile_toggle_2 {
  display: none;
  width: 22px;
  margin-top: 20px;
  margin-bottom: 13px;
  margin-left: 20px;
  fill: #333
}
.fr_items_2 {
  float: none;
  display: block;
  width: 100%;
  text-align: right;
  margin-top: 20px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  padding-left: 10px;
  position: fixed;
  overflow: hidden
}
.fr_navigation_white {
  width: 100%;
  background-color: white;
  position: fixed;
  z-index: 1000
}
.fr_mobile_toggle_2 .fr-svg-inner {
  padding-bottom: 100%;
  position: relative
}
.fr_link_5 {
  display: inline-block
}
.fr_link_6 {
  display: inline-block
}
.fr_navigation_link_2 {
  font-family: europa;
  font-weight: 400;
  font-size: 1.2em;
  line-height: 1.35em;
  text-align: center;
  letter-spacing: .1em;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  color: #333
}
.fr_link_4 {
  display: inline-block
}
.fr_g08_rounded_image_6 {
  float: none;
  display: block;
  width: 160px;
  margin-right: auto;
  margin-left: auto;
  background-color: #e5e5e5;
  background-image: url(../images/thumbnail/fvba6gj_10.png_256x256.png);
  background-position: center center;
  background-size: cover;
  min-height: 160px;
  border-radius: 50%
}
.fr_g08_headline_four_6 {
  float: none;
  display: block;
  width: 100%;
  margin-top: .9em;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto
}
.fr_g08_headline_four_6 .fr-text {
  min-width: 100%
}
.fr_g08_headline_four_8 {
  float: none;
  display: block;
  width: 100%;
  margin-top: .9em;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto
}
.fr_g08_headline_four_8 .fr-text {
  min-width: 100%
}
.fr_g08_rounded_image_8 {
  float: none;
  display: block;
  width: 160px;
  margin-right: auto;
  margin-left: auto;
  background-color: #e5e5e5;
  background-image: url(../images/thumbnail/rczlqqt_10.png_256x256.png);
  background-position: center center;
  background-size: cover;
  min-height: 160px;
  border-radius: 50%
}
.fr_paragraph_center_3 {
  float: none;
  display: block;
  width: 41.50390625%;
  font-family: europa;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.35;
  text-align: center;
  vertical-align: top;
  margin-top: 1.13em;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 10px;
  color: #333;
  min-height: 2.5625em;
  max-width: 600px
}
.fr_paragraph_center_3 .fr-text {
  min-width: 100%
}
.fr_releases_link {
  float: none;
  display: block;
  width: 100%;
  margin-top: -2.0009765625em;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 20px;
  background-color: white;
  min-height: 5.75em
}
.fr_paragraph_center_4 {
  float: none;
  display: block;
  width: 90%;
  font-family: europa;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.35;
  text-align: center;
  vertical-align: top;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0;
  color: #333;
  min-height: 1.35em;
  max-width: 600px
}
.fr_paragraph_center_4 .fr-text {
  min-width: 100%
}
.fr_links_link {
  float: none;
  display: block;
  width: 100%;
  margin-top: -2.0009765625em;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 20px;
  background-color: white;
  min-height: 5.75em
}
.fr_f3_copyright_2 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: 0
}
.fr_f3_copyright_2 .fr-text {
  min-width: 100%
}
@media screen and (max-width: 1024px) {
  .b-content {
    position: relative
  }
}
@media screen and (max-width: 1024px) {
  .fr_hd7_image {
    display: block;
    margin-top: 0;
    margin-left: 35.84%;
    background-image: url(../images/thumbnail/vdffu5v_6.png_399x378.png);
    background-position: right center;
    background-size: contain
  }
}
@media screen and (max-width: 1024px) {
  .fr_content_7 {
    min-height: 44.4375em
  }
}
@media screen and (max-width: 1024px) {
  .fr_h4_black {
    color: black
  }
}
@media screen and (max-width: 1024px) {
  .fr_hd7_image {
    background-image: url(../images/thumbnail/pf3b7y3_3.png_599x578.png)
  }
}
@media screen and (max-width: 1024px) {
  .fr_paragraph_center {
    min-height: 18.375em
  }
}
@media screen and (max-width: 1024px) {
  .fr_h1 {
    font-family: europa;
    font-weight: 600;
    font-size: 1.7em;
    letter-spacing: .3em;
    color: black
  }
}
@media screen and (max-width: 1024px) {
  .fr_h1-1 {
    font-family: europa;
    font-weight: 600;
    font-size: 1.7em;
    letter-spacing: .3em;
    color: black
  }
}
@media screen and (max-width: 1024px) {
  .fr_h4_center {
    font-weight: 400;
    font-size: 1.1em;
    letter-spacing: .01em;
    color: black
  }
}
@media screen and (max-width: 1024px) {
  .fr_g08_4_column_grid>.fr-widget:nth-child(5n+1) {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    width: 20%;
    clear: left;
    max-width: inherit
  }
  .fr_g08_4_column_grid>.fr-widget:nth-child(5n+2) {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    width: 20%;
    clear: none;
    max-width: inherit
  }
  .fr_g08_4_column_grid>.fr-widget:nth-child(5n+3) {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    width: 20%;
    clear: none;
    max-width: inherit
  }
  .fr_g08_4_column_grid>.fr-widget:nth-child(5n+4) {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    width: 20%;
    clear: none;
    max-width: inherit
  }
  .fr_g08_4_column_grid>.fr-widget:nth-child(5n+5) {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    width: 20%;
    clear: none;
    max-width: inherit
  }
}
@media screen and (max-width: 1024px) {
  .fr_h4 {
    font-family: europa;
    font-weight: 600;
    font-size: 1.3em;
    text-align: center;
    letter-spacing: .1em;
    color: black
  }
}
@media screen and (max-width: 1024px) {
  .fr_paragraph_left {
    font-family: europa;
    text-align: center;
    color: #333
  }
}
@media screen and (max-width: 1024px) {
  .fr_co3_paragraph_text_one {
    width: 100%;
    font-family: europa;
    text-align: center;
    color: #333
  }
  .fr_co3_paragraph_text_one .fr-text {
    min-width: 100%
  }
}
@media screen and (max-width: 1024px) {
  .fr_co3_paragraph_text_two {
    width: 100%
  }
  .fr_co3_paragraph_text_two .fr-text {
    min-width: 100%
  }
}
@media screen and (max-width: 1024px) {
  .fr_content_03 {
    min-height: 29.5625em
  }
}
@media screen and (max-width: 1024px) {
  .fr_newstyle {
    font-family: europa;
    font-weight: 600;
    font-size: 1.3em;
    text-align: center;
    letter-spacing: .1em;
    color: black
  }
}
@media screen and (max-width: 1024px) {
  .fr_caption_center_light_grey {
    color: #9b9b9b
  }
}
@media screen and (max-width: 1024px) {
  .fr_items_2 {
    text-align: right
  }
}
@media screen and (max-width: 1024px) {
  .fr_navigation_link_2 {
    text-align: right
  }
}
@media screen and (max-width: 1024px) {
  .fr_g08_rounded_image_6 {
    background-image: url(../images/thumbnail/fvba6gj_9.png_256x256.png)
  }
}
@media screen and (max-width: 1024px) {
  .fr_g08_rounded_image_8 {
    background-image: url(../images/thumbnail/rczlqqt_9.png_256x256.png)
  }
}
@media screen and (max-width: 768px) {
  .fr_content_7 {
    min-height: 44.4375em
  }
}
@media screen and (max-width: 768px) {
  .fr_h4_black {
    text-align: center
  }
}
@media screen and (max-width: 768px) {
  .fr_hd7_image {
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-image: url(../images/thumbnail/pf3b7y3_2.png_599x578.png)
  }
}
@media screen and (max-width: 768px) {
  .fr_hd7_name_2 {
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto
  }
}
@media screen and (max-width: 768px) {
  .fr_c05_h1 {
    margin-bottom: 40px;
    padding-top: 40px
  }
}
@media screen and (max-width: 768px) {
  .fr_h4_center {
    font-family: europa;
    font-weight: 300
  }
}
@media screen and (max-width: 768px) {
  .fr_g08_4_column_grid {
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-top: 40px;
    padding-bottom: 40px
  }
  .fr_g08_4_column_grid>.fr-widget:nth-child(3n+1) {
    margin-top: .3em;
    margin-right: 0;
    margin-bottom: .3em;
    margin-left: 0;
    width: 33.33%;
    clear: left;
    max-width: inherit
  }
  .fr_g08_4_column_grid>.fr-widget:nth-child(3n+2) {
    margin-top: .3em;
    margin-right: 0;
    margin-bottom: .3em;
    margin-left: 0;
    width: 33.33%;
    clear: none;
    max-width: inherit
  }
  .fr_g08_4_column_grid>.fr-widget:nth-child(3n+3) {
    margin-top: .3em;
    margin-right: 0;
    margin-bottom: .3em;
    margin-left: 0;
    width: 33.33%;
    clear: none;
    max-width: inherit
  }
}
@media screen and (max-width: 768px) {
  .fr_content_03 {
    min-height: 27.0625em
  }
}
@media screen and (max-width: 768px) {
  .fr_caption_center_light_grey {
    font-weight: 300;
    font-size: 1.0em
  }
}
@media screen and (max-width: 768px) {
  .fr_mobile_toggle_2 {
    display: block
  }
}
@media screen and (max-width: 768px) {
  .fr_items_2 {
    display: block;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    max-height: 0;
    overflow: hidden
  }
}
@media screen and (max-width: 768px) {
  .fr_navigation_white {
    padding-top: 0;
    padding-bottom: 7px
  }
}
@media screen and (max-width: 768px) {
  .fr_link_5 {
    display: block
  }
}
@media screen and (max-width: 768px) {
  .fr_link_6 {
    display: block
  }
}
@media screen and (max-width: 768px) {
  .fr_navigation_link_2 {
    text-align: left
  }
}
@media screen and (max-width: 768px) {
  .fr_link_4 {
    display: block
  }
}
@media screen and (max-width: 768px) {
  .fr_g08_rounded_image_6 {
    background-image: url(../images/thumbnail/fvba6gj_5.png_256x256.png)
  }
}
@media screen and (max-width: 768px) {
  .fr_g08_four_6 {
    text-align: center;
    margin-right: auto;
    margin-left: auto
  }
}
@media screen and (max-width: 768px) {
  .fr_g08_rounded_image_8 {
    background-image: url(../images/thumbnail/rczlqqt_8.png_256x256.png)
  }
}
@media screen and (max-width: 768px) {
  .fr_g08_four_8 {
    text-align: center;
    margin-right: auto;
    margin-left: auto
  }
}
@media screen and (max-width: 768px) {
  .fr_paragraph_center_3 {
    padding-bottom: 0
  }
}
@media screen and (max-width: 768px) {
  .fr_links_link {
    min-height: 3.6875em
  }
}
@media screen and (max-width: 480px) {
  .fr_h4_black {
    font-size: 1.3em
  }
}
@media screen and (max-width: 480px) {
  .fr_content_7 {
    min-height: 44.4375em
  }
}
@media screen and (max-width: 480px) {
  .fr_h4_black {
    font-size: 1.7em
  }
}
@media screen and (max-width: 480px) {
  .fr_hd7_image {
    background-image: url(../images/thumbnail/pf3b7y3_1.png_599x578.png)
  }
}
@media screen and (max-width: 480px) {
  .fr_paragraph_center {
    min-height: 18.4375em
  }
}
@media screen and (max-width: 480px) {
  .fr_c05_h1 {
    padding-top: 40px;
    padding-bottom: 40px
  }
}
@media screen and (max-width: 480px) {
  .fr_g08_one {
    padding-bottom: 40px
  }
}
@media screen and (max-width: 480px) {
  .fr_h4_center {
    font-family: europa;
    font-weight: 300
  }
}
@media screen and (max-width: 480px) {
  .fr_g08_4_column_grid {
    padding-top: 40px;
    padding-bottom: 40px
  }
  .fr_g08_4_column_grid>.fr-widget:nth-child(1n+1) {
    margin-top: .3em;
    margin-right: 2%;
    margin-bottom: .3em;
    margin-left: 2%;
    width: 96%;
    clear: left;
    max-width: inherit
  }
}
@media screen and (max-width: 480px) {
  .fr_content_03 {
    min-height: 27.125em
  }
}
@media screen and (max-width: 480px) {
  .fr_g08_rounded_image_6 {
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-image: url(../images/thumbnail/fvba6gj_7.png_256x256.png)
  }
}
@media screen and (max-width: 480px) {
  .fr_g08_rounded_image_8 {
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-image: url(../images/thumbnail/rczlqqt_7.png_256x256.png)
  }
}
@media screen and (max-width: 320px) {
  .fr_content_7 {
    min-height: 44.4375em
  }
}
@media screen and (max-width: 320px) {
  .fr_hd7_image {
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-repeat: repeat;
    background-image: url(../images/thumbnail/pf3b7y3.png_599x578.png);
    background-size: contain
  }
}
@media screen and (max-width: 320px) {
  .fr_paragraph_center {
    min-height: 18.1875em
  }
}
@media screen and (max-width: 320px) {
  .fr_c05_h1 {
    padding-top: 40px;
    padding-bottom: 40px
  }
}
@media screen and (max-width: 320px) {
  .fr_g08_one {
    padding-top: 20px
  }
}
@media screen and (max-width: 320px) {
  .fr_h4_center {
    font-family: europa;
    font-weight: 300
  }
}
@media screen and (max-width: 320px) {
  .fr_g08_4_column_grid>.fr-widget:nth-child(1n+1) {
    margin-top: .3em;
    margin-right: 0;
    margin-bottom: .3em;
    margin-left: 0;
    width: 100%;
    clear: left;
    max-width: inherit
  }
}
@media screen and (max-width: 320px) {
  .fr_co3_headline_one {
    padding-top: 10px
  }
}
@media screen and (max-width: 320px) {
  .fr_co3_3_column_grid>.fr-widget:nth-child(1n+1) {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    width: 100%;
    clear: left;
    max-width: inherit
  }
}
@media screen and (max-width: 320px) {
  .fr_co3_headline_two {
    padding-top: 10px
  }
}
@media screen and (max-width: 320px) {
  .fr_content_03 {
    min-height: 28.4375em
  }
}
@media screen and (max-width: 320px) {
  .fr_g08_rounded_image_6 {
    background-image: url(../images/thumbnail/fvba6gj_6.png_256x256.png)
  }
}
@media screen and (max-width: 320px) {
  .fr_g08_rounded_image_8 {
    background-image: url(../images/thumbnail/rczlqqt_6.png_256x256.png)
  }
}
@media screen and (max-width: 320px) {
  .fr_paragraph_center_3 {
    width: 90%;
    padding-bottom: 0;
    min-height: 2.6875em;
    max-width: 1000px
  }
  .fr_paragraph_center_3 .fr-text {
    min-width: 100%
  }
}

/** ******************************** **/
/** End of widget styles             **/
/** ******************************** **/