paper-header-panel {
  float: left;
  width: 100%;
  height: 100%;
  margin: 0px;
  @apply(--shadow-elevation-2dp);
}
.paper-header {
  height: 60px;
  background-color: white;
  font-size: 16px;
  line-height: 60px;
  padding: 0 10px;
  color: black;
  transition: height 0.2s;
}
#content {
  display: flex;
  flex-flow: column;
  height: 100%;
}
.dbox {
  flex: 1 1 auto;
  color: white;
  float: left;
  width: 25%;
}
