.content {
  display: flex;
  flex-flow: column;
  height: 100%;
  align-items: center;
}
.mbc {
  width: 100%
}
.mbox {
  width: 50%;
  font-size: 27px;
}  
#mby {
  background: #ebede2;
  color: black;
}
#mbj {
  background: #b01317;
  color: white;
}
#one {
  background-color: #2196F3; 
}
#eyeezy {
  background-color: #ebede2;
  font-family: "Yeezy";
}
#ejordan {
  background-color: #b01317;
  color: white;
}
.mt {
  align-items: center;
  display: flex;
  height: 100%;
  flex-flow: column;
  justify-content: center;
}
#mtd {
  margin: 0px;
  font-size: 50px;
  color: white;
  font-weight: 700;
}
#arrow {
  padding-bottom: 10px;
}
#eyt {
  margin: 10px 0px 0px 0px;
  font-size: 50px;
  font-weight: 700;
}
#ycs {
  margin: 0px 0px 10px 0px;
  font-size: 27px;
  font-weight: 700;
}
#ys {
  margin: 20px 0px 10px 0px;
  font-size: 27px;
  font-weight: 700;
}
.yslist {
  margin: 0px 0px 0px 0px;
  font-size: 27px;
  font-weight: 500;
}
#ejt {
  margin: 10px 0px 0px 0px;
  font-size: 50px;
  font-weight: 700;
}
#jcs {
  margin: 0px 0px 10px 0px;
  font-size: 27px;
  font-weight: 700;
}
#js {
  margin: 20px 0px 10px 0px;
  font-size: 27px;
  font-weight: 700;
}
.jslist {
  margin: 0px 0px 0px 0px;
  font-size: 27px;
  font-weight: 300;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 36px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}
  
