#content {
  display: flex;
  flex-flow: column;
  height: 100%;
  background-color: 76a63f; 
  align-items: center;
}
#mt {
  align-items: center;
  display: flex;
  height: 100%;
}
#mtd {
  margin: 0px;
  font-size: 50px;
  color: white;
  font-weight: 700;
}
#arrow {
  padding-bottom: 10px;
}
    
