body {
  font-family: 'Roboto', sans-serif;
}
.e {
  width: 5.55555555%;
  height: 10%;
  float: left;
}
#ph1 {
  width: 88.8888888%;
  float: left;
  height: 10%;
  outline: solid 1px #fff;
}
#ph2 {
  width: 55.5555555%;
  float: left;
  height: 10%;
  outline: solid 1px #fff;
}
.ei {
  font-size: 10px;
}
.w {
  color: #fff
}
